.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #0dcaf0;
}
body {
  position: relative;
}
#headimg {
  width: 100%;
}
nav {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid white;
}
.bg-body-tertiary {
  background: rgba(0, 0, 0, 0) !important;
}
.navbar .container-fluid .navbar-nav .nav-item {
  border-right: 1px solid #323232;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #0dcaf0;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
}
.navbar .container-fluid .navbar-nav .nav-item:nth-child(4) {
  border-right: none;
}
.navbar .container-fluid .info {
  color: red;
}
.navbar .container-fluid .info .icon-renzhengyonghu {
  color: black;
}
.navbar .container-fluid .info .exit {
  margin-top: 3%;
  display: block;
  margin: 0 1rem;
  color: black;
  width: 90%;
  border-radius: 15%;
  font-size: 0.9rem;
  background-color: #0eaae8;
  border: 1.2px solid #585656;
  color: white;
}
.navbar .container-fluid .info .exit:hover {
  background-color: skyblue;
}
@media (min-width: 1200px) {
  .content #page1 {
    width: 100%;
    height: 36rem;
    display: flex;
  }
  .content #page1 .ranking {
    overflow: scroll;
    margin-top: 5%;
    height: 70%;
    width: 16%;
    background-color: orange;
  }
  .content #page1 .game {
    margin-left: 11%;
    margin-top: 3%;
    margin-right: 7%;
    height: 95%;
    width: 65%;
    background-color: pink;
  }
  .content #page2 {
    margin-top: 1%;
    text-align: center;
  }
  .content #page2 h2 {
    display: block;
    color: white;
    border: 1px solid #0c0c0c;
    background-color: #bbb9b9;
  }
  .content #page2 #information {
    margin-top: 1%;
    padding: 1rem;
    margin-left: 15%;
    width: 70%;
    height: 35rem;
    border: 1px solid black;
    text-align: center;
  }
  .content #page2 #information p {
    margin-top: 2%;
    color: gray;
    font-size: 1.2rem;
  }
  .content #page3 {
    text-align: center;
  }
  .content #page3 h2 {
    margin-top: 1%;
    display: block;
    color: white;
    border: 1px solid #0c0c0c;
    background-color: #bbb9b9;
  }
  .content #page4 {
    text-align: center;
  }
  .content #page4 h2 {
    margin-top: 1%;
    display: block;
    color: white;
    border: 1px solid #0c0c0c;
    background-color: #bbb9b9;
  }
  .content #page4 #about {
    padding: 1%;
    margin-left: 15%;
    margin-top: 2%;
    border: 1px solid black;
    width: 70%;
  }
  .content #page4 #about p {
    color: gray;
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  .xtx-elevator {
    position: fixed;
    top: 30rem;
    right: 3rem;
  }
  .xtx-elevator a {
    font-size: 1.1rem;
    line-height: 2.2rem;
    height: 2.4rem;
    width: 2.4em;
  }
}
@media (max-width: 768px) {
  .xtx-elevator {
    position: fixed;
    top: 22rem;
    right: 1rem;
  }
  .xtx-elevator a {
    font-size: 0.8rem;
    line-height: 2rem;
    height: 2rem;
    width: 2em;
  }
}
@media (min-width: 992px) {
  .xtx-elevator {
    position: fixed;
    top: 38rem;
    right: 4rem;
  }
  .xtx-elevator a {
    font-size: 1.1rem;
    line-height: 3rem;
    height: 3rem;
    width: 3em;
  }
}
.xtx-elevator {
  text-align: center;
  opacity: 0;
  cursor: pointer;
}
.xtx-elevator a {
  display: block;
  border-radius: 30%;
  text-decoration: none;
  color: white;
  background-color: #298dc7;
}
.xtx-elevator a:hover {
  background-color: skyblue;
}
@media (max-width: 992px) {
  .project {
    height: 35rem;
  }
}
@media (max-width: 768px) {
  .project {
    height: 35rem;
  }
}
@media (min-width: 992px) {
  .project {
    height: 20rem;
  }
}
.project {
  margin-top: 5%;
  background: linear-gradient(to right, #cbf2db, #9ed9b6, #66ab83, #338555, #074b23);
  height: 15rem;
}
.project .content {
  margin-top: 2rem;
}
.project .content .row div {
  margin-top: 2rem;
  height: 10rem;
}
.project .content .row div a {
  height: 10rem;
  text-decoration: none;
  color: white;
}
.project .content .row div a img {
  margin-top: 1rem;
}
.project .content .row div h5 {
  margin-top: 8%;
  color: white;
}
.project .content .row div p {
  font-size: 1rem;
  color: white;
}
